@import "base/css/meyer-reset.css";
@import "base/css/setup.css";
@import "base/css/typography.css";

body * {
	border: 1px solid red;
}

body {
	background-color: #f89e21;
	color: white;
}


.inner-column {
	width: 98%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}




