@import "meyer-reset.css";
@import "setup.css";
@import"typography.css";

body * {
	/*border: 1px solid red;*/
}

.inner-column {
	width: 98%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;

}

* {
	box-sizing:border-box;
}
body {
	display:flex;
	flex-direction:column;
}









div {
	padding:50px;
	font-size:25px;
}







div:nth-of-type(4) {
	background-color:green;
}
div:nth-of-type(1) {
	background-color:pink;
}
div:nth-of-type(2) {
	background-color:#ffc961;
}
div:nth-of-type(3) {
	background-color:red;
}





