@import "meyer-reset.css";
@import "setup.css";
@import "typography.css";
/*SITEWIDE DEFAULTS*/
html {
	background-color: #1e958a;
}

body * {
	border: 2px solid red;
}

a {
	color: blue;
}

/*SITE STRUCTURE*/

.inner-column {
	width: 98%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;

}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

/*HEADER SETTINGS*/

header {
	background-color: rgba(255,255,255,.5);
}

header .inner-column {
	margin-bottom:10px;
	display:flex;
	flex-direction:row;
	justify-content:flex-start;
	align-items:center;
}

header .header-pic {
	border-radius:50%;
	border: 1px solid red;
	max-width:70px;
	overflow: hidden;
}

.header-text {
	position:relative;
	left:10px;
}

/*INTRO SETTINGS*/

.intro {
	background-color:inherit;
}

.intro .popcorn-art {
	display: none;
}
	
.intro .inner-column {
	display:flex;
	flex-direction:column;
	padding-top: 10px;
	padding-bottom: 20px;

}

.intro .intro-image {
	border: 1px solid red;
	max-width:400px;
}

.intro-text {
	color:white;
}

/*ARGUEMENTS SETTINGS*/

.arguments {
	background-color: rgba(255,255,255,.5);
	flex: 1;
}

.arguments .inner-column {
	display:flex;
	flex-direction:column;
	gap: 25px;
	padding-top: 25px;
	padding-bottom: 25px;
}

.arguments .arguments-pic {
	border-radius:50%;
	border: 1px solid red;
	max-width:100px;
	overflow: hidden;
}

.arguments h2, .arguments p, .arguments a {
	margin-top: 10px;
}


/*FOOTER SETTINGS */
footer {
	background-color:inherit;
}

footer .inner-column {
	display:flex;
	flex-direction:column;
}

footer .footer-text {
	margin-top:10px;
}

/* MEDIA QUERIES */

/*MEDIUM WIDTH  */
@media (min-width:400px){

	.intro .inner-column {
		flex-direction:row;
		align-items:flex-start;
		max-width: 90ch;
	}

	.intro .intro-image {
		flex-basis: 50%;
		margin-bottom:10px;
	}

	.intro .intro-text {
		flex-basis: 50%;
		margin-left:5px;
	}

	.arguments .inner-column {
		align-items: center;
	}
	
	.arguments article {
		display:flex;
		flex-direction:row;
		justify-content:center;
		align-items: flex-start;
		gap: 20px;
		max-width: 570px;
		
	}
	
	footer .inner-column {
		flex-direction:row;
		justify-content:flex-start;
		gap: 15px;
	}
}

/*LARGE WIDTH*/
@media (min-width:800px){
	.intro .inner-column {
		position: relative;
	}
	.intro .popcorn-art {
		display: block;
		width: 200px;
		position: absolute;
		bottom: 0;
		left:70%;
		opacity: .1;
	}

	.intro-text {
		align-items:center;
	}

	.arguments .inner-column {
		flex-direction:row;
		align-items: flex-start;
	}
	.arguments article {
		flex-direction:column;
		align-items:center;
		flex-basis: 33%;
		text-align: center;
	}
	
	footer .inner-column {
		justify-content:flex-start;
		
	}
	footer h2 + h2 {
		margin-left:50px;
	}
}



/*MODED TYPOGRAPHY*/
.calm-voice {
	font-size:20px;
	font-weight:700;
}

.attention-voice {
	font-size: 18px;
}

.details-voice {
	font-size: 16px;
	color: white;
}

