@import "meyer-reset.css";
@import "setup.css";
@import"typography.css";
body * {
	/*border: 1px solid red;*/
}

.inner-column {
	width: 98%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;

}

body {
  min-height:200vh;
}

a {
  color:white;
}


.site-header {
  background-color:#0f387a;
}

.logo img {
  display: block;
  width: 100%;
  height: auto;
}

.interior-picture img {
  display: block;
  width: 100%;
  height: auto;
}

.logo {
  max-width:100px;
}

.logo,.site-menu {
  display:inline-block;
  vertical-align:top;
}

.interior-picture {
  max-width:100px;
}

.site-menu {
  padding: 10px;
}

.site-menu a {
  display:inline-block;
  margin-right:60px;
  letter-spacing:.1em;
}

.intro {
  position:relative;
  background-color:#7db0e1;
}
.intro-text {
  border: 5px solid #9faece;
  position:absolute;
  background-color:rgba(230,234,237,.7);
  top:50%;
  left:50%;
  color:black;
  padding:80px;
  font-size:25px;
  transform:translate(-50%,-50%);
  letter-spacing:.1em;
  line-height:1.5;
}

.slogan {
   background-color:#0f387a;
}

.slogan h1 {
  font-family: helvetica;
  font-size:24px;
  text-align:center;
  padding-top:50px;
  padding-bottom:50px;
  color:white;
  letter-spacing:.1em;
}

.services {
  background-color:#7db0e1;
}

.all-services {
  margin-left:190px;
  text-align:middle;
}
.services h1 {
  font-family: helvetica;
  font-size:24px;
  text-align:center;
  padding-top:25px;
  padding-bottom:25px;
  color:white;
  letter-spacing:.1em;
}
.services h2 {
  margin-bottom:10px;
  text-align:center;
  border-bottom:1px solid #0f387a;
}
.services-1,.services-2,.services-3 {
  display:inline-block;
  padding:20px;
  font-family:helvetica;
  color:white;
  margin-left:30px;
  letter-spacing:.1em;
}

.recent-work {
  background-image:url("https://empire-s3-production.bobvila.com/slides/3206/original/paint_house_color.jpeg?1532642214");
  min-height:75vh;
  background-repeat: no-repeat;
  background-size:100%;
}

.recent-work-text {
  text-align:center;
  font-family: helvetica;
  font-size:24px;
  text-align:center;
  padding-top:200px;
}
.recent-work-text h1 {
  border:5px solid #9faece;
  background-color:rgba(230,234,237,.7);
  padding:40px;
  letter-spacing:.1em;
}

.recent-work button {
  margin-top:50px;
  margin-left:33%;
  margin-right:33%;
  font-family: helvetica;
  font-size:24px;
  background-color:rgba(230,234,237,.7);
  letter-spacing:.1em;
}

.recent-work button:hover {
  background-color:white;
}

.site-footer {
  background-color:black;
  color:white;
  padding:15px;
}

.site-footer p {
  margin-top:10px;
  font-family:serif;
  font-size:18px;
  letter-spacing:.1em;
}








